{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

  <link rel="stylesheet" href="assets/accueil.css">


    <div class="container">
      </br></br>
        <div class="tab">
            <div class="intro">
                Termes et Conditions de Camesthetique

Dernière mise à jour : 19/10/2023
</br></br>
Merci de visiter le site web Camesthetique. En utilisant le Site, vous acceptez de vous conformer à ces Termes et Conditions. Si vous n'acceptez pas ces Termes et Conditions, veuillez ne pas utiliser le Site.
</br></br>
Utilisation du Site
</br>
a. Contenu du Site: Le contenu de ce Site est fourni à titre informatif seulement. Nous ne garantissons pas l'exactitude, l'exhaustivité ou la pertinence du contenu. L'utilisation des informations sur ce Site est à vos propres risques.
</br>
b. Inscription: Certaines fonctionnalités du Site peuvent nécessiter une inscription. Vous êtes responsable de maintenir la confidentialité de votre compte et de vos informations d'identification. Vous acceptez de ne pas partager votre compte avec d'autres et de nous informer immédiatement en cas d'utilisation non autorisée de votre compte.
</br></br>
Propriété Intellectuelle
</br>
a. Droits d'auteur: Tous les contenus présents sur ce Site, y compris textes, images, vidéos, logos et tout autre matériel, sont protégés par les lois sur le droit d'auteur. Vous ne pouvez pas reproduire, distribuer, modifier ou utiliser ces contenus sans notre autorisation écrite.
</br>
b. Marques de commerce: Les marques de commerce, logos et noms de produits ou services présents sur le Site sont notre propriété ou celle de tiers. Vous ne pouvez pas utiliser ces éléments sans autorisation.
</br></br>
Liens vers d'autres sites
</br></br>
Le Site peut contenir des liens vers d'autres sites web gérés par des tiers. Nous ne sommes pas responsables du contenu de ces sites, et l'inclusion de liens ne constitue pas une approbation de ces sites. Vous accédez à ces sites à vos risques et périls.
</br></br>
Limitation de responsabilité
</br></br>
Dans la mesure permise par la loi applicable, nous ne serons pas responsables des dommages directs, indirects, spéciaux, consécutifs ou punitifs résultant de l'utilisation ou de l'impossibilité d'utiliser le Site.
</br></br>
Modifications des Termes et Conditions
</br></br>
Nous nous réservons le droit de modifier ces Termes et Conditions à tout moment, sans préavis. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des modifications éventuelles.
</br></br>
Droit applicable et juridiction
</br></br>
Ces Termes et Conditions sont régis par les lois en vigueur en France. Tout litige découlant de ces Termes et Conditions sera soumis à la juridiction des tribunaux de France.
</br></br>
Merci d'avoir pris connaissance de ces Termes et Conditions. Si vous avez des questions, veuillez nous contacter à Camesthetique@gmail.com.
            </div>
            
    <div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>


 
{% endblock %}
