body {
    font-family: 'Rakkas', sans-serif;
    background-color: white; /* Couleur de fond */
    color: #333; /* Couleur du texte principal */
    margin: 0;
    padding: 0;
}
.formavis{
    display:grid;
    place-items:center;
}

.titreavis{
    text-align:center;
}
.nomClienttexte{
    grid-column:1;
}
#nomClient {
    grid-column:3;
    border: 2px solid pink; /* Couleur rose pour la bordure */
    border-radius: 10px;    /* Bords arrondis */
    padding: 5px;           /* Espacement interne pour le contenu */
    width: 100%;            /* Largeur à 100% du conteneur parent */
    box-sizing: border-box; /* Inclut la bordure dans la largeur totale */
    font-size: 16px;
}
#dateAvis{
    border: 2px solid pink; /* Couleur rose pour la bordure */
    border-radius: 10px;    /* Bords arrondis */
    padding: 5px;           /* Espacement interne pour le contenu */
    width: 100%;            /* Largeur à 100% du conteneur parent */
    box-sizing: border-box; /* Inclut la bordure dans la largeur totale */
    font-size: 16px;
}
#prenomClient{
    border: 2px solid pink; /* Couleur rose pour la bordure */
    border-radius: 10px;    /* Bords arrondis */
    padding: 5px;           /* Espacement interne pour le contenu */
    width: 100%;            /* Largeur à 100% du conteneur parent */
    box-sizing: border-box; /* Inclut la bordure dans la largeur totale */
    font-size: 16px;
}
#contenuAvis{
    border: 2px solid pink; /* Couleur rose pour la bordure */
    border-radius: 10px;    /* Bords arrondis */
    padding: 5px;           /* Espacement interne pour le contenu */
    width: 100%;            /* Largeur à 100% du conteneur parent */
    box-sizing: border-box; /* Inclut la bordure dans la largeur totale */
    font-size: 16px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.intro {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.services {
    margin-bottom: 40px;
}

.services h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.services p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}