/* style.css */
body {
    font-family: "Rakkas", sans-serif;
    background-color: white; 
    margin: 0;
    padding: 0;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* Blanc */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left:150px;
    width: 800px;
}

h2 {
    text-align: center;
    color: #ff69b4; /* Rose vif */
}

label {
    display: block;
    margin-bottom: 5px;
    color: black; /* Rose vif */
    margin-left: 700px;
}

input[type="text"],
input[type="password"],input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid pink !important; /* Rose vif */
    border-radius: 50px;
    width: 800px;
    margin-left: 680px;
}

button {
    background-color: #ff69b4; /* Rose vif */
    color: #fff; /* Blanc */
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 990px;;
}

button:hover {
    background-color: pink; /* Rose foncé */
    border-radius: 50px;

}

p {
    color: #ff1493; /* Rose foncé */
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #ff69b4; /* Rose vif */
}

a:hover {
    text-decoration: underline;
    color: #ff1493; /* Rose foncé */
}

button.btn {
    background-color: pink; /* Rose vif */
    color: white; /* Blanc */
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border-radius: 50px;
}

.btn {
    background-color: #ff69b4; /* Rose vif */
    color: #fff; /* Blanc */
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 50px;
}
checkbox {
    margin-left: 700px;
}
.mb-3{
    margin-left: 700px;
}