body {
    font-family: 'Rakkas', sans-serif;
    background-color: white;
}

form {
    max-width: 600px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    display: block; /* Pour occuper toute la largeur disponible */
    margin-left :200px;/* Centre horizontalement */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    text-align: center;
}

th {
    background-color: pink;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    background: pink;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: white;
    color: black;
}

h2 {
    text-align: center;
}

table {
    margin: 0 auto; /* Centre horizontalement */
    width: 800px;
}

.footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
h3 {
    margin-left:  100%;
    width: 500px;
}