{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}

<link rel="stylesheet" href="assets/presentation.css">
<body>
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/jffco/Desktop/Cours/WorkSpace/AP1GRP3/src/Controller/PresentationController.php'|file_link(0) }}">src/Controller/PresentationController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/jffco/Desktop/Cours/WorkSpace/AP1GRP3/templates/presentation/index.html.twig'|file_link(0) }}">templates/presentation/index.html.twig</a></code></li>
    </ul>
    <div class="femmepres"><img src="../assets/femme pres.png">
    <h1>Ou vous pouvez me trouver ?</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37851.09112650685!2d1.463487361317354!3d49.0941483543864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6cbdd7d3ddcb1%3A0xeb9fd94417956f9a!2sVernon!5e0!3m2!1sfr!2sfr!4v1695972395749!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
 <div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>

</body>
{% endblock %}
