{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<body>
<div class="example-wrapper">
    <div class="femmepres"><img src="../assets/femme pres.png">
    <div class="logolocalisation"><img src="../assets/64679.png"></div><h1>Ou vous pouvez me trouver ?</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37851.09112650685!2d1.463487361317354!3d49.0941483543864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6cbdd7d3ddcb1%3A0xeb9fd94417956f9a!2sVernon!5e0!3m2!1sfr!2sfr!4v1695972395749!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</body>
{% endblock %}
