{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}

<link rel="stylesheet" href="assets/avis3.css">
<div class="titreavis"><h1>Laissez votre avis</h1></div><br>
<div class="wrapper">
<div class="texteavis">Chez CamEstheticienne, la beauté prend vie avec chaque visite. Notre équipe dévouée d'esthéticiennes passionnées vous offre une expérience exceptionnelle de soins de la peau, de maquillage et de bien-être. Notre priorité est de vous aider à vous sentir et à paraître votre meilleur, en utilisant des produits de haute qualité et des techniques innovantes. Votre avis compte énormément pour nous, car il nous aide à nous améliorer continuellement et à maintenir les normes élevées que vous méritez. Partagez votre expérience avec nous sur notre page d'avis et aidez-nous à continuer à rayonner ensemble.</div><br><br>
</div><br></br>  
    <p>Pour donner un avis vous devez vous <a href="/login" class="lien-rose">connecter</a></p>
<div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>
{% endblock %}
