{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}

<link rel="stylesheet" href="assets/avis2.css">
<div class="titreavis"><h1>Laissez votre avis</h1></div><br>
    <div class="formavis"><form action="traitement.php" method="post">
        <div class="nomClienttexte"><label for="nomClient" length="1000px">Nom du client</label></div>
        <div class="nomClientlabel"><input type="text" id="nomClient" name="nomClient" required></div><br><br>
        
        <div class="prenomClienttexte"><label for="prenomClient" length="1000px">Prénom du client</label></div>
        <div class="prenomClientlabel"><input type="text" id="prenomClient" name="prenomClient" required></div><br><br>
        
        <label for="dateAvis">Date de l'avis :</label>
        <input type="date" id="dateAvis" name="dateAvis" required><br><br>

        <label for="contenuAvis">Votre avis :</label><br>
        <textarea id="contenuAvis" name="contenuAvis" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Soumettre">

    </form></div>
<div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>
{% endblock %}
