{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}

 <link rel="stylesheet" href="assets/avis.css">
 
<div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>
{% endblock %}
