{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
<link rel="stylesheet" href="assets/bootstrap.css">

<div class="rel">
Une erreur est survenue durant l'inscription.
</div>
{% endblock %}
