{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

  <link rel="stylesheet" href="assets/accueil.css">


    <div class="container">
        <div class="header">
            <h1>Camesthetique</h1>
        </div>
        <div class="intro">
        Bienvenue chez CamEstheticienne, l'écrin de beauté où chaque visite est une escapade sensorielle dédiée à votre bien-être.
         Notre mission est de sublimer votre beauté naturelle et de vous offrir une expérience exceptionnelle, alliant relaxation et résultats visibles.</br></br>

        Dans notre havre de paix, chaque traitement est conçu sur mesure pour répondre à vos besoins spécifiques.
        Que vous recherchiez un soin du visage revitalisant, une épilation professionnelle ou un massage relaxant, notre équipe dévouée est là pour vous offrir des services de qualité, utilisant des produits haut de gamme adaptés à votre peau.</br></br>

        Chez CamEstheticienne, nous croyons en l'importance de prendre soin de soi, tant à l'extérieur qu'à l'intérieur.
         C'est pourquoi nous avons créé un espace élégant et apaisant, où chaque détail contribue à créer une atmosphère accueillante.</br></br>

        Explorez notre gamme complète de prestations, découvrez nos promotions du moment et réservez votre prochain moment de détente.
        Laissez-nous vous guider vers la découverte de votre beauté authentique.</br></br>

        Nous sommes ravis de vous accueillir chez CamEstheticienne, où la beauté devient une expérience et chaque soin est une célébration de votre bien-être.</br></br>

        Prenez rendez-vous dès aujourd'hui et laissez-nous prendre soin de vous.</br></br>

        Bienvenue dans l'univers de la beauté, bienvenue chez CamEstheticienne.
        </div>
        
    </div>
    <div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>


 
{% endblock %}
