{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
<body>
    <div id="content" color="black">
        {% block content %}
        <p>Une erreur est survenue lors de l'inscription.</p>
        <a href="{{ path('app_inscription') }}" class="btn btn-primary">Retour à l'inscription</a>
        {% endblock %}
    </div>
</body>
{% endblock %}