{% extends 'base.html.twig' %}

{% block title %}Nouvelle Prestation{% endblock %}

{% block body %}

       
        <link rel="stylesheet" href="assets/ajtpresta.css">
       
  

    <h1>Créer une Nouvelle Prestation</h1>

    {{ form_start(form, {'attr': {'class': 'mon-formulaire-personnalise'}}) }}
    {{ form_widget(form) }}

    <button type="submit">Ajouter</button>
    <a href="{{ path('app_prestation') }}">Annuler</a>

    {{ form_end(form) }}
     <div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>
{% endblock %}