{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}



{% block body %}
    <link rel="stylesheet" href="assets/contact.css">

            <div class="tab">
                <div class="tab-content">
                    <h1>Contact</h1>
                    <p>Pour toute question, n'hésitez pas à nous contacter par mail ou par téléphone.</p>

                    <p>Pour remplir un formulaire de contact vous devez vous <a href="/login" class="lien-rose">connecter</a></p>
                </div>
            </div>
      


 <div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>

{% endblock %}
