
<?php
namespace App\Form;
use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\Extension\Core\Type\EmailType;
use Symfony\Component\Form\Extension\Core\Type\TextareaType;
use Symfony\Component\Form\Extension\Core\Type\TextType;
use Symfony\Component\Form\FormBuilderInterface;
use Symfony\Component\OptionsResolver\OptionsResolver;
class ContactType extends AbstractType
{
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder->add('nom', TextType::class)
            ->add('prenom', TextType::class)
            ->add('email', EmailType::class)
            ->add('message', TextareaType::class);
    }
    public function configureOptions(OptionsResolver $resolver)
    {
        $resolver->setDefaults(array(
            'data_class' => 'App\Entity\Contact'
        ));
    }
}

{% extends 'base.html.twig' %}
{% block title %}Contactez nous{% endblock %}
{% block body %}
    noparse_083a78afffc022b1c6d5cd3c001c116e
        noparse_2db61d5cf30c79ef8e54467896d99f36
        <buton class="btn">noparse_4d4b58cf1376a8bec84932918d125a18</button>
    noparse_250bb21d8a0d439fe09f34cde2663c9b
{% endblock %}




{% block body %}
    <link rel="stylesheet" href="assets/contact.css">

       
        


 <div class="footer">
        <p>&copy; 2023 Camesthetique. Tous droits réservés.</p>
    </div>

{% endblock %}
